@import 'tailwindcss';

@theme {
    --color-transparent: transparent;

    --color-primary-200: #262626;
    --color-primary-300: #4d4d4d;
    --color-primary-400: #666666;

    --color-secondary-100: #0e0e0c;
    --color-secondary-200: #262626;
    --color-secondary-300: #4d4d4d;
    --color-secondary-400: #666666;
    --color-secondary-500: #8c8c73;
    --color-secondary-600: #aeae9d;
    --color-secondary-700: #d1d1c7;

    --color-accent-100: #fafaf9;
    --color-accent-200: #d9d9d9;
    --color-accent-300: #e6e6e6;
    --color-accent-400: #f2f2f2;

    --font-overused: 'OverusedGrotesk', 'sans-serif';
    --font-satoshi: 'Satoshi', 'sans-serif';
}

@layer base {
    html {
        @apply scroll-smooth;
    }

    body {
        @apply mx-auto w-full bg-primary-200 text-white;
    }
}

@font-face {
    font-family: 'OverusedGrotesk';
    src: url('/fonts/overused-grotesk/OverusedGrotesk-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OverusedGrotesk';
    src: url('/fonts/overused-grotesk/OverusedGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OverusedGrotesk';
    src: url('/fonts/overused-grotesk/OverusedGrotesk-SemiBold.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'OverusedGrotesk';
    src: url('/fonts/overused-grotesk/OverusedGrotesk-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi_Complete/TTF/Satoshi-Variable.ttf');
}
